.projects-container {
  width: 80%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  position: right;

  justify-content: top;
  align-items: left;
  text-align: left;
}

h3 {
  font-size: 3.5rem;
  font-family: 'Antonio';
  line-height: 0rem;
}

.info {
  font-family: 'Open Sans';
  font-size: 18px;

}