@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Open+Sans:wght@300&display=swap');

.education-container {
  width: 80%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  position: right;

  justify-content: top;
  align-items: left;
  text-align: left;
}

.info {
  font-family: 'Open Sans';
  font-size: 22px;
  margin-top: 0px;

}

h2 {
  margin-bottom: 3px;
  font-family: 'Open Sans';
}